body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* 设置背景颜色为白色 */
    font-family: Arial, sans-serif;
    color: #000000; /* 默认文本颜色为黑色 */
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40vw; /* 固定宽度为屏幕的40% */
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px; /* 移除边框阴影 */
    flex-direction: row; /* 默认是水平布局 */
}

.profile {
    text-align: center;
    margin: 20px;
    width: 250px; /* 加宽 profile div */
}

.profile img {
    border-radius: 50%;
    width: 150px;
}

.profile a {
    color: #0366d6;
    text-decoration: none;
}

.profile a:hover {
    text-decoration: underline;
}

.profile p {
    margin: 10px 0;
    color: #555;
}

.repos {
    flex-grow: 1;
    text-align: left;
    margin: 20px;
}

.repos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repos-header h3 {
    margin: 0;
    color: #000; /* 设置标题为黑色 */
}

.repos-header a {
    color: #666;
    text-decoration: none;
    font-weight: normal; /* 不加粗 */
}

.repos-header a:hover {
    text-decoration: underline;
}

.repos ul {
    list-style: none;
    padding: 0;
}

.repos li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f3f5;
    border-radius: 8px;
}

.repos a {
    color: #0366d6;
    text-decoration: none;
    font-weight: bold;
}

.repos a:hover {
    text-decoration: underline;
}

.repos p {
    margin: 5px 0;
    color: #555;
}

footer {
    text-align: center;
    margin: 20px;
    font-size: 0.9em;
    color: #666;
}

/* 移动设备布局 */
@media (max-width: 768px) {
    .container {
        width: 90vw; /* 固定宽度为屏幕的90% */
        flex-direction: column; /* 垂直布局 */
        align-items: center; /* 居中对齐 */
    }

    .profile {
        width: 100%; /* 宽度为100% */
        text-align: center; /* 文本居中对齐 */
    }

    .repos {
        width: 100%; /* 宽度为100% */
        text-align: center; /* 文本居中对齐 */
    }
}

/* 深色模式布局 */
@media (prefers-color-scheme: dark) {
    body, html {
        background-color: #181818; /* 设置背景颜色为深色 */
        color: #ffffff; /* 设置文本颜色为白色 */
    }

    .container {
        background: #242424; /* 设置容器背景颜色为深色 */
    }

    .profile a, .repos a {
        color: #1e90ff; /* 设置链接颜色为亮蓝色 */
    }

    .repos-header h3 {
        color: #ffffff; /* 设置标题颜色为白色 */
    }

    .repos li {
        background-color: #333333; /* 设置仓库列表项背景颜色为深色 */
    }

    footer {
        color: #cccccc; /* 设置页脚颜色为浅灰色 */
    }
}
